.Login {
    text-align: center;
    
    height: 50px;
    margin: 0 auto;
   width: 50%;
    padding: 20px;
    color: white;
  }
  .input{
    
    padding:10px;
	margin:5px 0;
 
  }
  input[type="text"]{
	background:url(usuario.png);
	background-repeat:no-repeat;
	background-position:right;
	background-size:contain;
    }
    input[type="email"]{
        background:url(email.png);
        background-repeat:no-repeat;
        background-position:right;
        background-size:contain;
        }
input[type="password"]{
        background:url(password.png);
        background-repeat:no-repeat;
        background-position:right;
        background-size:contain;
        }
        input[type=text],input[type=email], input[type=password] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }       
    button {
  background-color:rgba(100,0,255,1);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}
button:hover {
  opacity: 0.8;
}